$linear-gradient-dark: #000000cc;
$linear-gradient-grey: #6363631a;

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.button {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.gallery {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  z-index: 1;
}

.photo-card {
  position: relative;
  text-decoration: none;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.42, 0, 0.58, 1);
}

.photo-card:hover {
  transform: scale(1.04);
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.stats {
  position: relative;
  bottom: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #7cff25;
  opacity: 0;
  transition: opacity 200ms linear;
  background-image: linear-gradient(
    to top right,
    $linear-gradient-dark,
    $linear-gradient-grey
  );
  &.stats-item {
    text-align: center;
    cursor: pointer;
  }
}

.gallery__item:hover .stats {
  opacity: 1;
}
